<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>picture</key>
		<array>
			<string>Img/Plants/gr_1.png</string>	
		</array>
  
		<key>point</key>
		<array>
			<string>{0.5,0.5}</string>
		</array>



</dict>
</plist>