<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>picture</key>
		<array>
			<string>Img/Main_bg.png</string>
      <string>Img/SelectMenu_board.png</string>			
      <string>Img/leaf.png</string>
	  <string>Img/linda_brave.png</string>

      <string>Img/score_board.png</string>
      <string>Img/str_plan.png</string>
		</array>
  
		<key>point</key>
		<array>
			<string>{0.5,0.5}</string>
			<string>{0.3,0.5}</string>
      <string>{0.75,0.73}</string>
			<string>{0.75,0.4}</string>

      <string>{0.87,0.9}</string>
      <string>{0.3,0.76}</string>
		</array>

		<key>scale</key>
		<array>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
      <string>1</string>
			<string>1</string>
			<string>1</string>
      <string>1</string>
		</array>

		<key>button</key>
		<dict>
		<key>button_img</key>
		<array>
		<string>Img/SelectBtn_1.png</string>
    <string>Img/SelectBtn_2.png</string>
    <string>Img/SelectBtn_3.png</string>
      
    <string>Img/SelectBtn_unable.png</string>
    <string>Img/SelectBtn_unable.png</string>
    <string>Img/SelectBtn_unable.png</string>
    
    <string>Img/SelectBtn_back.png</string> 
		</array>

		<key>button_pos</key>
		<array>
    <string>{0.15,0.63}</string>
		<string>{0.25,0.63}</string>
    <string>{0.35,0.63}</string>
      
    <string>{0.15,0.47}</string>
		<string>{0.25,0.47}</string>
    <string>{0.35,0.47}</string>
      
    <string>{0.45,0.4}</string>
      </array>

		<key>button_fun</key>
		<array>
		<integer>1</integer>
    <integer>2</integer>
    <integer>3</integer>
      
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    
    <integer>-1</integer>
		</array>
		</dict>
  
 
  
</dict>
</plist>