<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gr_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,386},{94,94}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,290},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gr_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,194},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gr_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gr_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,98},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plants.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f24087c5953879e58a50a8c94f14fc4c$</string>
            <key>textureFileName</key>
            <string>plants.png</string>
        </dict>
    </dict>
</plist>
